*.iml
.gradle
/settings.gradle.kts
/gradlew
/gradlew.bat
/gradle.properties
/gradle
/build.gradle.kts
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
