/PSP/ejercicios/ejercicio1/nbproject/private/
/PSP/ejercicios/ejercicio1/build/
/PSP/ejercicios/JavaApplication3/nbproject/private/
/PSP/ejercicios/copybytesimaxe/nbproject/private/
/PSP/ejercicios/copybytesimaxe/build/
/PSP/ejercicios/ejercicicio_Fibonacci/nbproject/private/
/PSP/ejercicios/ejercicicio_Fibonacci/build/
/PSP/ejercicios/primitivewriteutf/nbproject/private/
/PSP/ejercicios/primitivewriteutf/build/
/AD/20 primitive writechars/primitivewritechars/nbproject/private/
/AD/20 primitive writechars/primitivewritechars/build/
/AD/26 primitiveutfchars /primitivewriteutfchars/nbproject/private/
/AD/26 primitiveutfchars /primitiveutfchars/nbproject/private/
/AD/26 primitiveutfchars /primitiveutfchars/build/
/AD/26primitiveutfchars /primitiveutfchars/build/
/AD/26primitiveutfchars /primitiveutfchars/nbproject/private/
/AD/26 primitiveutfcharsTarefa/primitiveutfchars/build/
/AD/20_primitiveWriteChars/primitivewritechars/nbproject/private/
/AD/ejercicio1_Arquivo/nbproject/private/
/AD/13_arquivos/nbproject/private/
/AD/ejercicio_copybytestexto/build/
/AD/ejercicio_copybytestexto/nbproject/private/
/AD/15_copyBytesTexto/build/
/AD/15_copyBytesTexto/nbproject/private/
/copybytesimaxe/build/
/copybytesimaxe/nbproject/private/
/AD/copybytesimaxe/build/
/AD/copybytesimaxe/nbproject/private/
/AD/20_copyBytesImaxe_copyBytesImaxe2/build/
/AD/20_copyBytesImaxe_copyBytesImaxe2/nbproject/private/
/primitivewritechars/nbproject/private/
/AD/primitivewritechars/nbproject/private/
/AD/20_primitiveWriteChars/nbproject/private/
/AD/primitivewriteutf/build/
/AD/primitivewriteutf/nbproject/private/
/AD/20_primitiveWriteUTF/build/
/AD/20_primitiveWriteUTF/nbproject/private/
/AD/primitiveutfchars/nbproject/private/
/AD/26_primitiveUTFChars/nbproject/private/
/AD/26_primitiveUTFChars/build/
/AD/26_productsStream/nbproject/private/
/AD/26_productsStream/build/
/AD/27_copyBytesCaracteres/nbproject/private/
/AD/27_copyBytesCaracteres/build/
/AD/27_copyBytesCaracteres2/nbproject/private/
/AD/27_copyBytesCaracteres2/build/
/AD/29_textoDelimitado/nbproject/private/
/AD/29_textoDelimitado/build/
/AD/29_aleatorio/nbproject/private/
/AD/29_aleatorio/build/
/AD/serializacion_1/nbproject/private/
/AD/serializacion_1/build/
/AD/serializacion_2/nbproject/private/
/AD/serializacion_2/build/
/AD/26_baserelacionalATarefa/nbproject/private/
/AD/baseRelacionalB/nbproject/private/
/AD/baseRelacionalB/build/
/PSP/ejercicios/ejercicio7/nbproject/private/
/PSP/ejercicios/ejercicio7/build/
/AD/baseRelacionalC/baseRelacionalC/nbproject/private/
/AD/baseRelacionalC/baseRelacionalC/build/
/AD/xml_proba_0/xml_proba_0/nbproject/private/
/AD/xml_proba_0/xml_proba_0/build/
/AD/xml_proba_0/xml_proba_oler/nbproject/private/
/AD/xml_proba_oler/nbproject/private/
/AD/xml_proba_oler/build/
/AD/xml_proba_0_leer/nbproject/private/
/AD/xml_writer/nbproject/private/
/AD/serializacion_2/dist/
/AD/xml_writer/build/
/AD/ejercicios_examen/exa15brevepTarefa/nbproject/private/
/AD/ejercicios_examen/exa15brevepTarefa/build/
