/PSP/ejercicios/ejercicio1/nbproject/private/
/PSP/ejercicios/ejercicio1/build/
/PSP/ejercicios/JavaApplication3/nbproject/private/
/PSP/ejercicios/copybytesimaxe/nbproject/private/
/PSP/ejercicios/copybytesimaxe/build/
/PSP/ejercicios/ejercicicio_Fibonacci/nbproject/private/
/PSP/ejercicios/ejercicicio_Fibonacci/build/
/PSP/ejercicios/primitivewriteutf/nbproject/private/
/PSP/ejercicios/primitivewriteutf/build/
/AD/20 primitive writechars/primitivewritechars/nbproject/private/
/AD/20 primitive writechars/primitivewritechars/build/
/AD/26 primitiveutfchars /primitivewriteutfchars/nbproject/private/
/AD/26 primitiveutfchars /primitiveutfchars/nbproject/private/
/AD/26 primitiveutfchars /primitiveutfchars/build/
/AD/26primitiveutfchars /primitiveutfchars/build/
/AD/26primitiveutfchars /primitiveutfchars/nbproject/private/
/AD/26 primitiveutfcharsTarefa/primitiveutfchars/build/
